<%- include("partials/header") %>
<a href='/landing'>Nosotros</a>
<div class="container">
  <header class="jumbotron">
      <div class="container">
        <h1>U.E Colegio Educacional Libertador </h1>
      </div>
    </header>
</div>


<!-- Historia-->
<div class="container">
  <div class="cuadro1">
    <div class="contenido">
        <h2 class="titulo">Conoce nuestra historia<br></h2>
        <div class="row1">
            <ul class="descripcion">
                    <p>Fundado el 01 de octubre de 1979</p>
                </li>
                    <p>2.500 estudiantes graduados</p>
                </li>
                    <p>Profesionales de las mejores universidades</p>
                </li>
            </ul>
        </div>
        <div class="row2">
            <div class="boton">
                <a rel="scroll">
                    <div class="btn">
                        Siguiente
                    </div>
                </a>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- Fundadores-->
<div class="container"> 
    <div class="cuadro2">
        <h2 class="titulo2">Fundadores<br></h2>
        <div class="flexboxc2">
            <img id="Ellipse_1" src="Ellipse_1.png" srcset="Ellipse_1.png 1x, Ellipse_1@2x.png 2x">        
            <img id="Ellipse_3" src="Ellipse_3.png" srcset="Ellipse_3.png 1x, Ellipse_3@2x.png 2x">    
            <img id="Ellipse_2" src="Ellipse_2.png" srcset="Ellipse_2.png 1x, Ellipse_2@2x.png 2x">
        </div>
    </div>
</div>


<!-- finalidad-->
<div class="container">
    <div class="cuadro3">
        <p id="finalidad"> Nuestra finalidad es integrar la escuela con la Comunidad</p>
    </div>
    <div class="cuadro4">
    </div>
</div>

<%- include("partials/footer") %>