<%- include("partials/header") %>

<div class="container">
  <header class="jumbotron">
      <div class="container">
        <h1>U.E Colegio Educacional Libertador </h1>
        <p>Caminante no hay camino se hace camino al andar - Joan Serrat</p>
      </div>
    </header>
    <a href='/landing'>Nosotros</a>
</div>


<!-- Mensaje 1-->
<div class="container">
  <div class="cuadro1">
    <div class="contenido">
        <h2 class="titulo">Conoce nuestra historia<br></h2>
        <div class="row1">
            <ul class="descripcion">
                    <p>Más de 30 años de servicio</p>
                </li>
                    <p>2.500 estudiantes graduados</p>
                </li>
                    <p>Profesionales de las mejores universidades</p>
                </li>
            </ul>
        </div>
        <div class="row2">
            <div class="boton">
                <a rel="scroll">
                    <div class="btn">
                        Siguiente
                    </div>
                </a>
            </div>
        </div>
    </div>
  </div>
</div>






<%- include("partials/footer") %>