<%- include("partials/header") %>

<div class="container">
  <header class="jumbotron">
      <div class="container">
        <h1>Conoce más sobre nuestra historia, valores, personal y estudiantes </h1>
        <p>Caminante no hay camino se hace camino al andar - Joan Serrat</p>
      </div>
    </header>  
</div>





<%- include("partials/footer") %>