<%- include("partials/header") %>

<h1 id="pruebita">Landing Page!</h1>

<p>Bienvenidos al Colegio Libertador</p>

<a href='/colegio'>Colegio</a><br>
<a href='/contactanos'>Contactanos</a>

<%- include("partials/footer") %>